@import "tailwindcss";

@theme {
	--breakpoint-*: initial;
	--breakpoint-sm: 480px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 976px;

	--color-background: #0f1c30;
	--color-texto-principal: #e2e6f1;
	--color-texto-titulos: #c0d0ef;
	--color-texto-enfasis: #73aafc;
}

:root {
	color: var(--color-texto-principal);
}

body {
	@apply bg-background
	selection:bg-texto-enfasis
	selection:text-texto-principal;
}

strong {
	color: var(--color-texto-enfasis);
}

a {
	@apply font-medium text-texto-titulos hover:text-texto-enfasis focus-visible:text-texto-enfasis;
}
